<div class="viewBlog">
    <div class="viewHeader">
    <h2 >{{blog.title}}</h2>
    <h4>By: {{blog.user.name}}</h4>
    <h5>Created On: {{format_date blog.date_created}}</h5>
    </div>
    <p>{{blog.content}}</p>
    <div class="form">
        <label class="label userCommentLabel" for="userName">Leave a Comment: </label>
    </div>
    <div class="form">
        <input class="input userComment" type="text">
    </div>
    <button id="commentBtn">Submit</button>
</div>
<div class="commentsDiv">
    {{> comment}}
</div>