<div class="col">
  <div class="card text-center" id="create-form">
    <div class="card-header" id="createComment">
      Leave a comment!
    </div>
    <div class="card-body">
      <form class="form new-comment-form">
        <div class="card text-center" id="create-comment-card">
          <label for="comment-content" class="sr-only">Comment:</label>
          <input type="text" id="comment-content" data-id="{{id}}" class="form-input" placeholder="Content" required
            autofocus>
          <br>
          <br>
          <button class="btn btn-lg btn-primary btn-block" "commentBtn" type="submit">Add</button>

        </div>
      </form>


    </div>
  </div>
</div>

<script src="/js/comment.js"></script>