<div class="viewBlog">
<div class="card text-center">
  <div class="card-header">
    By: {{{user.name}}}
  </div>
  <div class="card-body">
    <h5 class="card-title"> {{{blog.name}}}</h5>
    <p class="card-text">{{{blog.content}}}</p>
    <a href="/comment" class="btn btn-primary">Leave a Comment</a>
  </div>
  <div class="card-footer text-muted">
    created: 
</div>
</div>
{{#if comments.length}}
{{#each comments as |comment|}}

{{> comment}}

{{/each}}
{{/if}}


