<div class="viewBlog">
    <div class="viewHeader">
    <h2 >{{blog.name}}</h2>
    <h4>By: {{user.name}}</h4>
   
    </div>
    <p>{{blog.content}}</p>
    <p>created on: {{blog.date_created}}</p>
    
    
    <div class="form" id="comment-form">
        <label class="label userCommentLabel" for="userName">Leave a Comment: </label>
    </div>
    <div class="form">
        <input class="input userComment" type="text">
    </div>
    <button id="commentBtn">Submit</button>
</div>
<div class="commentsDiv">
    {{> comment}}
</div>