    <div class="form" id="comment-form">
        <label class="label userCommentLabel" for="userName">Leave a Comment: </label>
    </div>
    <div class="form">
        <input class="input userComment" type="text">
    </div>
    <button id="commentBtn">Submit</button>
</div>
<div class="commentsDiv">
</div>