{{!-- <div class="mb-3">
<div class="card text-center">
      <h2>Login</h2>
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
      <div>
      <a href="/signup">Not Signed Up?  Click the Sign up button!</a>
      </div>
</div> --}}
<form class="form login-form">
<div class="card text-center">
  <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
  <label for="inputEmail" class="sr-only">Email address:</label>
  <input type="email" id="email-login" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password:</label>
  <input type="password" id="password-login" class="form-control" placeholder="Password" required>
  <br>
  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <a href="/signup">Not Signed Up?  Click the Sign up button!</a>
  <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
</div>
</form>


      

<script src="./js/login.js"></script>
