{{!-- <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div> --}}
<form class="form signup-form">
<div class="card text-center">
  <h1 class="h3 mb-3 font-weight-normal">Please Sign Up</h1>
  <label for="inputName" class="sr-only">Name:</label>
  <input type="name" id="name-signup" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputEmail" class="sr-only">Email address:</label>
  <input type="email" id="email-signup" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password:</label>
  <input type="password" id="password-signup" class="form-control" placeholder="Password" required>
  <br>
  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
</div>
</form>