* {
  box-sizing: border-box;
  margin: 20px;
  padding: 10px;
  color: aqua;
  font-family: 'Lexend', sans-serif;
}

body {
  background-image: url("../photos/tech33.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#blog-content,
#comment-content {
  color: black;
}
.card {
  width: 360;
  background-color: rgb(21, 21, 21);
  opacity: 0.9;
}
span {
  background-color: rgb(21, 21, 21);
  opacity: 0.9;
}

#commentHeader {
  text-decoration: underline;
}

body {
  margin: 20px;
}

.btn-danger {
  background-color: blue;
}
main {
  display: block;
}
#create-form,
#create-form-card {
  background-color: rgb(21, 21, 21);
  opacity: 0.9;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

#logout {
  color: black;
}
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: rgb(21, 21, 21);
  opacity: 0.9;
  font-weight: bold;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* @media screen and (max-width: 600px) {
	.col {
    display: block;
    width: 100%;
	}
}

@media screen and (max-width: 360px) {
	.col {
    display: block;
    width: 100%;
	}
} */
@media (max-width: 360px) {
  .row {   
    flex-direction: column;
  }
}