* {
  box-sizing: border-box;
  margin: 20px;
  padding: 10px;
}

body {
  background-image: url('../photos/tech.jpeg');  
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.text-center {
  background-color: rgb(8, 236, 236);
  opacity: .95;
}
#ind-blogs,
#instructions,
#home-welcome,
#welcome,
.blog-list
{
  background-color: rgb(160, 69, 250);

}


body {
  margin: 20px;
}

.btn-danger
{
  background-color: blue;
}
main {
  display: block;
}
#create-form,
#create-form-card,
header {
  background-color: greenyellow;
  opacity: 0.9;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}


pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
 
}


